<%= render 'shared/sidebar_menu' %>
  <div class="modal-dialog modal-lg modal-job"  id="exampleModal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" id="exampleModalLabel">Vous avez un profil de type :</h2>
      </div>
      <div class="modal-body">
        <div class="row">
      <div class="col-md-5 py-5">
        <center>
          <%= image_tag (@personality_riasec.avatar_f), height: 320, width: 320, class: "avatar-large", alt: "avatar-large-réaliste"  %>
        </center>
      </div>
      <div class="col-md-7">
        <h3><strong><%= @personality_riasec.name %></strong></h3>
        <div class="well">
          <h4 class="small" style="color: #36b9cc"><strong><i class="fas fa-plus"></i> Vos points forts</strong></h4>
        <%= @personality_riasec.points_forts %>
         </div>
         <div class="well">
          <h4 class="small" style="color: #e74a3b"><strong><i class="fas fa-minus"></i> Vos points faibles</strong></h4>
        <%= @personality_riasec.points_faibles %>
        </div>
        <div class="well">
          <span class="badge badge-pill badge-danger" style="background-color: darkgray !important;">Patient</span>
          <span class="badge badge-pill badge-danger" style="background-color: darkgray !important;">Minitieux</span>
          <span class="badge badge-pill badge-danger" style="background-color: darkgray !important;">Franc</span>
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button id="randomize-career" type="button" class="btn btn-lg btn-info">Plus de métiers</button>
      </div>
    <div class="row" style="padding-top:20px;">
      <% @personality_riasec.careers.sample(3).each do |career| %>
        <div class="col-md-4">
          <%= link_to users_personnalities_path(personality: @personality_riasec, career: career), method: :post do %>
            <div class="card job">
              <div class="card-body">
                <h5 class="card-title">Métier</h5>
                <p class="card-text">
                  <div url(h)">
                    <strong><%= career.title %></strong>
                  </div>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
     </div>
    </div>
  </div>
        </div>
       </div>
    </div>
  </div> -->
<body style="background:#123;">


