<%= render 'shared/navbar' %>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
          <%= image_tag @user_personality.career.personality_riasec.avatar_f, class: "avatar-large", alt: "avatar-large" %>
          <p><%= @user_personality.career.personality_riasec.name %></p>
          <p>Votre choix de métier :<br><%= @user_personality.career.title %></p>
          <h3><%= @user.first_name %><br><%= @user.last_name %></h3>
        </div>

        <ul class="list-unstyled components">
            <p>Votre Dashboard</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Votre profil</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                      <%=  link_to "Vos infos", edit_user_registration_path  %>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
              <%= link_to "Votre personnalité", results_path(current_user) %>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Vos métiers</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Les formations</a>
                    </li>
                    <li>
                        <a href="#">Les subventions</a>
                    </li>
                    <li>
                        <a href="#">La santé</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Réseautage</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
              <%= link_to "Retour à la page d'accueil", root_path, class: "article"%>
            </li>
        </ul>
    </nav>
    <!-- Page Content -->
    <div id="content-search">
      <h2 class="title">Résultats de votre recherche</h2>
      <div class="grid-search">
        <div class="cards">
          <div class="card-1">
            <% @results.each do |result| %>
              <% if result.searchable_type == "TrainingCenter" %>
                <div class="card-dashboard">
                  <div class="card-category btn btn-info">CENTRE DE FORMATION</div>
                    <div class="card-description">
                      <h2> <%= result.searchable.name %> </h2>
                      <p><strong><i class="fas fa-map-marker-alt"></i></strong> <%= result.searchable.address %>, <%= result.searchable.city %></p>
    <!--                   <p><strong><i class="fas fa-phone"></i></strong> <%= result.searchable.telephone %></p>
                      <p><strong><i class="fas fa-envelope"></i></strong> <%= result.searchable.email %></p> -->
                      <p><strong><i class="fas fa-at"></i></strong> <%= link_to "Site-web", result.searchable.website , :target => "_blank" %> </p>
                    </div>
                  </div>
                <% else %>
                <div class="card-category btn btn-info">MÉTIER</div>
                  <div class="card-description">
                    <h2><strong><i class="fas fa-graduation-cap"></i></strong> <%= result.searchable.title %></h2>
                    <p><strong><i class="fas fa-hammer"></i></strong> <%= result.searchable.category %></p>
                  </div>
                </div>
                <% end %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<h1>Careers#index</h1>
<p>Find me in app/views/careers/index.html.erb</p> -->
 <!-- Begin Page Content -->
        <!-- <div class="container-fluid">
 -->
          <!-- Page Heading -->
          <!-- <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <!-- DataTales Example -->
          <!-- <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                      <td>Tiger Nixon</td>
                      <td>System Architect</td>
                      <td>Edinburgh</td>
                      <td>61</td>
                      <td>2011/04/25</td>
                      <td>$320,800</td>
                    </tr>
                    <tr>
                      <td>Garrett Winters</td>
                      <td>Accountant</td>
                      <td>Tokyo</td>
                      <td>63</td>
                      <td>2011/07/25</td>
                      <td>$170,750</td>
                    </tr>
                    <tr>
                      <td>Ashton Cox</td>
                      <td>Junior Technical Author</td>
                      <td>San Francisco</td>
                      <td>66</td>
                      <td>2009/01/12</td>
                      <td>$86,000</td>
                    </tr>
                    <tr>
                      <td>Cedric Kelly</td>
                      <td>Senior Javascript Developer</td>
                      <td>Edinburgh</td>
                      <td>22</td>
                      <td>2012/03/29</td>
                      <td>$433,060</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div> -->
        <!-- /.container-fluid -->

 <!--      </div> -->
      <!-- End of Main Content -->

