  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars fa-2x"></i>
  </a>
  <nav id="sidebar-wrapper">
  <% if user_signed_in? %>

      <!-- Links when logged in -->
     <!--  <%= link_to "Host", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %> -->
      <% if params[:controller] === "dashboards" %>
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Dashboard</span>
        </button>
        <% else %>
      <% end %>
    <ul class="sidebar-nav sidebar-brand">
       <%= cl_image_tag current_user.photo, class: "avatar-dashbord", id: "navbar-wagon-menu" %>
       <li class="sidebar-nav-item">
        <%= link_to root_path 'Accueil' do %>
        <i class="fas fa-home"></i>   Accueil
        <% end %>
      </li>
      <li class="sidebar-nav-item">
        <%= link_to dashboard_path(current_user) do %>
                <i class="fas fa-user"></i> <%= t(".profile", default: "Mon compte") %>
              <% end %>
      </li>
       <li class="sidebar-nav-item">
        <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Se déconnecter") %>
         <% end %>
            </li>
        </div>
      </div>
    <% else %>
    </ul>
    <ul class="sidebar-nav sidebar-brand">
      <li class="sidebar-nav-item">
        <!-- Login link (when logged out) -->
         <%= link_to new_user_session_path do %>
         <i class="fas fa-sign-in-alt"></i> <%= t(".sign_in", default: "Se connecter") %>
         <% end %>
          </li>
        <% end %>
        <li class="sidebar-nav-item">
         <%= link_to new_user_registration_path do %>
         <i class="fas fa-user"></i> <%= t(".sign_up", default: "Créer mon compte") %>
         <% end %>
          </li>
    </ul>
  </nav>
