<%= render 'shared/sidebar_menu' %>
<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(<%= image_path "mountain-climber-home.jpg", alt: "mountain climber homepage" %>);">
  <div class="container h-100 bg-overlay">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
          <!-- Logo -->
        <%= link_to root_path do %>
          <%= image_tag "logo-reecover-transparent-white.png", height: 120 %>
        <% end %>
        <h1><strong>Votre carrière a de la valeur</strong></h1>
        <hr class="col-6">
        <h4>Vous souhaitez donner un nouvel élan à votre carrière ?
        </h4>
        <br><br>
        <%= link_to "Comment ça fontionne ?", new_survey_attempt_path(Survey.last), class: "btn btn-warning btn-lg"  %>
        <%= link_to "Faites le test !", new_survey_attempt_path(Survey.last), class: "btn btn-warning btn-lg"  %>
        </div>
    </div>
  </div>
</header>
  <!-- Header -->

<section>
    <div class="container">
      <div class="row align-items-center"">
          <h1 class="col-12 text-center"><strong>Votre carrière a de la valeur</strong></h1>
      </div>
        <!--Profile Card 3-->
        <div class="col-md-4">
            <div class="card profile-card-3">
                <div class="background-block">
                    <img src="https://images.pexels.com/photos/459225/pexels-photo-459225.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="profile-sample1" class="background"/>
                </div>
                <div class="profile-thumb-block">
                    <img src="https://randomuser.me/api/portraits/men/41.jpg" alt="profile-image" class="profile"/>
                </div>
                <div class="card-content">
                    <h2>Justin Mccoy<small>Designer</small></h2>
                   <p class="card-text text-center small">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="icon-block"><a href="#"><i class="fab fa-facebook"></i></a><a href="#"> <i class="fab fa-twitter"></i></a><a href="#"> <i class="fab fa-google-plus"></i></a></div>
                    </div>
                </div>
        </div>

        </div>
      </div>
    </div>
</section>
