<%= render 'shared/navbar' %>
<div class="wrapper" class="animated--fade-in">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="text-center sidebar-header">
          <%= image_tag @user_personality.career.personality_riasec.avatar_f, class: "avatar-large", alt: "avatar-large" %>
          <p class="text-center"><%= @user_personality.career.personality_riasec.name %></p>
          <p class="text-center"><%= @user_personality.career.title %></p>
        </div>

        <ul class="list-unstyled CTAs components">
            <p>Votre Dashboard</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Votre profil</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                      <%=  link_to "Vos infos", edit_user_registration_path  %>
                    </li>
   <!--                  <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li> -->
                </ul>
            </li>
            <li>
              <%= link_to "Votre personnalité", results_path(current_user) %>
            </li>
<!--             <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Vos métiers</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Les formations</a>
                    </li>
                    <li>
                        <a href="#">Les subventions</a>
                    </li>
                    <li>
                        <a href="#">La santé</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Réseautage</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li> -->
    <ul class="list-unstyled CTAs">
      <li>
       <%= link_to "Retour à la page d'accueil", root_path, class: "article"%>
      </li>
    </ul>
  </nav>

<!-- Page Content -->
  <div id="content">
   <h2 class="title">Bienvenue <%= @user.first_name %> !</h2>
   <div class="grid">
    <div class="cards">
     <% @training_centers.each do |center| %>
      <div class="card-1">
       <div class="card-dashboard">
        <div class="top-card-dashboard">
<!--           <div class="card-category btn btn-info">CENTRE DE FORMATION</div> -->
          <%= image_tag center.photo, class: "card-photo" %>
        </div>
        <div class="card-description">
         <h2><%= center.name %></h2>

         <p><strong><i class="fas fa-map-marker-alt"></i></strong> <%= center.full_address %></p>
         <p><strong><i class="fas fa-envelope"></i></strong> E-mail: <%= center.email %></p>
         <p><strong><i class="fas fa-phone"></i></strong> Téléphone: <%= center.telephone %></p>
         <p><strong><i class="fas fa-at"></i></strong> <%= link_to "Site-web", center.website, :target => "_blank" %> </p>
        </div>
       </div>
      </div>
     <% end %>
    </div>
      <!--    to uncomment when all controllers are created -->
    <div
     id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     >
    </div>
   </div>
  </div>
<!-- Page Content -->
