<%= render 'shared/navbar' %>
<div class="wrapper" class="animated--fade-in">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="text-center sidebar-header">
          <%= image_tag @user_personality.career.personality_riasec.avatar_f, class: "avatar-large", alt: "avatar-large" %>
          <p class="text-center small"><%= @user_personality.career.personality_riasec.name %></p>
          <p class="text-center" id="career"><%= @user_personality.career.title %></p>
        </div>
      <ul class="list-unstyled CTAs">
      <li>
       <%= link_to "Refaire le test", new_survey_attempt_path(Survey.last), class: "btn-warning"%>
      </li>
      </ul>

        <ul class="list-unstyled CTAs components">
            <li class="active">
            <li>
              <%= link_to "Ma personnalité", results_path(current_user) %>
            </li>
                   <li>
                      <%=  link_to "Gérer mon profil", edit_user_registration_path  %>
                    </li>
            </li>
        </ul>
  </nav>
<!----SideNavbar----->


<div class="container-fluid dashboard-container">
    <h1 class="title">Les centres de formation <strong><%= @user_personality.career.title %></strong> près de chez vous</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
        <!---->
        <% @training_centers.each do |center| %>
        <div class="col-md-12 card-container">
          <div class="card h-100">
            <div class="card-body">
              <div class="row">
                <div class="col-4 col-md-3 col-sm-4">
                  <%= image_tag center.photo, class: "img-fluid rounded"%>
                </div>
                <div class="col-8 col-md-9 col-sm-8">
                  <h4 style="font-weight: bold; color: #333; margin-bottom: 5px;"><%= center.name %></h4>
                  <p class="card-text">
                    <%= center.full_address %>
                    <p>Coût de la formation : <span class="badge badge-info" style="background-color: darkgray !important; border-radius: 5px;"><%= center.price %> <i class="fas fa-euro-sign"></i></span></p>
                  </p>
                </div>
              </div>
            </div>
          <div class="card-footer">
            <a href='tel:<%= center.telephone %>' class="btn btn-xs btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Joindre par téléphone"><i class="fa fa-phone"></i> <%= center.telephone %></a>
            <a href='mailto:<%= center.email %>' class="btn btn-xs btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Envoyer un email"><i class="fa fa-envelope"></i> Contacter</a>
                <button class="btn btn-xs btn-warning" data-toggle="tooltip" data-placement="top" title="Visiter le site"><i class="fa fa-info-circle"></i> <%= link_to "Site-web", center.website, :target => "_blank" %> </button>
          </div>
          </div>
         </div>
      <% end %>
      <!---->

        </div>

      </div>
      <div class="col-md-6">
            <div
     id="map"
     style="width: 100%;
     height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     >
    </div>
      </div>
  </div>
</div>
