<%= render 'shared/navbar' %>
<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header">
          <%= image_tag @user_personality.career.personality_riasec.avatar_f, class: "avatar-large", alt: "avatar-large" %>
          <p><%= @user_personality.career.personality_riasec.name %></p>
          <p>Votre choix de métier :<br><%= @user_personality.career.title %></p>
          <h3><%= @user.first_name %><br><%= @user.last_name %></h3>
        </div>

        <ul class="list-unstyled components">
            <p>Votre Dashboard</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Votre profil</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Vos infos</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
              <%= link_to "Votre personnalité", results_path(current_user) %>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Vos métiers</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Les formations</a>
                    </li>
                    <li>
                        <a href="#">Les subventions</a>
                    </li>
                    <li>
                        <a href="#">La santé</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Réseautage</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Retour à votre dashboard</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">
      <div class="grid">
        <div class="search-bar form-inline">
          <%= form_tag dashboard_path, method: :get do %>
            <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Trouver une formation "
            %>
            <%= button_tag "Rechercher", class: "btn btn-warning btn-lg" %>
          <% end %>
        </div>
        <div>
        <h2 class="title">Bienvenue sur votre compte <%= @user.first_name %> </h2>
        </div>
        <div class="card-1">
          <% @results.each do |result| %>
            <% if result.searchable_type == "TrainingCenter" %>
              <div class="card-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
                <div class="card-category">CENTRE DE FORMATION
                </div>
                <div class="card-description">
                  <h2><%= result.searchable.name %></h2>
                  <p><%= result.searchable.address %>, <%= result.searchable.city %></p>
                  <p><%= result.searchable.telephone %></p>
                  <p><%= result.searchable.email %></p>
                  <%= link_to result.searchable.website %>
                </div>
              </div>
        </div>
              <% else %>
            <div class="card-2">
              <div class="card-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
                <div class="card-category">MÉTIER
                </div>
                <div class="card-description">
                  <h2><%= result.searchable.title %></h2>
                  <p><%= result.searchable.category %></p>
                  <% end  %>
                </div>
              </div>
                <% end  %>
            </div>

<!--         <div class="card-3">
          <div class="card-dashboard" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2>Le Wagon Shanghai</h2>
              <p>Very cool city, the best</p>
            </div>
          <a class="card-link" href="#" ></a>
          </div>
        </div> -->
<!--         to uncomment when all controllers are created -->
<!--         <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div> -->
      </div>
    </div>
</div>


