<!-- @answers[1].photo -->
  <div data-container="0">
    <section class="masthead d-flex">
      <div class="container text-center my-auto">
        <div class="row h-100 align-items-center">
          <div class="col-12 text-center">
            <h1 style="color: #eee"><strong>Pour quel métier êtes-vous fait ?</strong></h1>
          </div>
        </div>
        <div class="o-section-home__select-gender m-select-gender js-select-gender">
          <div data-button data-href="/2" class="m-select-gender__button-gender js-select-gender-button a-button-gender--man a-button-gender js-button-gender bodyClass dietAnswer" data-key="1755" data-value="327" data-body-class-value="men-theme" data-pixel-event="User Profile" data-pixel-key="male" data-pixel-value="1">
            <div class="a-button-gender__background">
                <div class="a-button-gender__circle a-button-gender__circle--1 js-button-circle" style="opacity: 0.11137; transform: translate3d(0px, 0px, 0px) scale(0.962274, 0.962274);">
                </div>
                <div class="a-button-gender__circle a-button-gender__circle--2 js-button-circle"  style="opacity: 0.0849287; transform: translate3d(0px, 0px, 0px) scale(0.984929, 0.984929);">
            </div>
             <div class="a-button-gender__content">
                  <div class="a-button-gender__circle a-button-gender__circle--3 js-button-circle-main" style="opacity: 0.9;"></div>
               <!--    <svg class="a-icon a-button-gender__icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/keto/sprite.svg#icon-man"></use>
                  </svg> -->
                  <div class="a-button-gender__text">Sportif</div>
                </div>
              </div>
            </div>
            <!-- <div class="m-select-gender__text" style="color: white">ou</div> -->
            <div data-button data-href="/2" class="m-select-gender__button-gender js-select-gender-button  a-button-gender js-button-gender bodyClass dietAnswer" data-key="1755" data-value="328" data-body-class-value="woman-theme" data-pixel-event="User Profile" data-pixel-key="female" data-pixel-value="1">
            <div class="a-button-gender__background">
            <div class="a-button-gender__circle a-button-gender__circle--1" style="opacity: 0.29699; transform: translate3d(0px, 0px, 0px) scale(0.999398, 0.999398);"></div>
            <div class="a-button-gender__circle a-button-gender__circle--2 js-button-circle" style="opacity: 0.0937528; transform: translate3d(0px, 0px, 0px) scale(0.993753, 0.993753);"></div>
            </div>
              <div class="a-button-gender__content">
                  <div class="a-button-gender__circle a-button-gender__circle--3 js-button-circle-main" style="opacity: 0.9;">
                  </div>
                  <!-- <svg class="a-icon a-button-gender__icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/keto/sprite.svg#icon-woman"></use>
                  </svg> -->
                  <div class="a-button-gender__text">Sportive</div>
              </div>
            </div>
          </div>
      </div>
    </section>
  </div>
  <div class="container-quiz">
    <% @questions.each do |question| %>
<!--             if question == @questions.last
          redirect_to sss_path -->
    <div data-container="<%= @questions.index(question) + 1 %>">
      <div class="overlay"><h2 id="question-<%= question.id %>" class="text-center" data-question="<%= @questions.index(question) + 1 %>"> <%= question.question %> </h2></div>
        <div class="cards-quiz">
          <div class="row align-items-start text-center">
          <% question.answers.each do |answer| %>
            <div class="col-xs-4">
              <%= link_to answer_users_answers_path(answer), method: :post, remote: true do %>
                <div class="card-category-quiz" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url(answer.photo)%>')">
                  <%= answer.answer %>
                </div>
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div id="question-<%= @questions.last.id + 1 %>" data-question="9" data-container="9">
      <div class="button-results" >
      <%= link_to "Voir les résultats", results_path(current_user), class: "btn btn-warning btn-lg"  %>
    </div>
  </div>
</div>
