<%= render 'shared/sidebar_menu' %>
<!-- @answers[1].photo -->
<div data-container="0" class="animated--fade-in">
<header class="masthead-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(<%= image_path "skateboard-survey-light.jpg", alt: "skateboard background survey" %>);">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
          <!-- Logo -->
        <%= link_to root_path do %>
          <%= image_tag "logo-reecover-transparent-white.png", height: 120 %>
        <% end %>
        <h1><strong>Votre carrière a de la valeur</strong></h1>
        <hr class="col-4">
        <h4>Vous souhaitez donner un nouvel élan à votre carrière ?
        </h4>
        <br><br>
        <div class="o-section-home__select-gender m-select-gender">

            <!-- button gender male-->
            <div data-button class="a-button-gender">
                <div class="a-button-gender__content">
                  <div class="a-button-gender__text"> <%= image_tag "male-athlete.jpg", class: "img-gender pulse-button" %><br><strong>Sportif</strong></div>
                </div>
            </div>

          <div class="m-select-gender__text">ou</div>

          <!-- button gender female-->
          <div data-button class="a-button-gender">
              <div class="a-button-gender__content">
                  <div class="a-button-gender__text"> <%= image_tag "female-athlete.jpg", class: "img-gender-f pulse-button" %><br><strong>Sportive</strong></div>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</header>
  <!-- Header -->
  <div class="container-quiz">
    <% @questions.each do |question| %>
<!--             if question == @questions.last
          redirect_to sss_path -->
    <div data-container="<%= question.number %>">
      <div class="overlay" id="question-<%= question.number %>" data-question="<%= question.number %>"><h2 class="text-center mb-5"> <%= question.question %> </h2></div>
        <div class="cards-quiz">
          <div class="row align-items-start text-center">
          <% question.answers.each_with_index do |answer, index| %>
            <div class="col-xs-6 col-md-6 col-lg-4 card-custom">
              <%= link_to answer_users_answers_path(answer), method: :post, remote: @questions.last != question do %>
                <div class="card-category-quiz" id="card-answer" style="background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('<%= image_url(answer.photo)%>'); transition-delay: <%= index/5.1 %>s ">
                 <strong> <%= answer.answer %></strong>
                </div>
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>
