<%= render 'shared/sidebar_menu' %>
<!-- @answers[1].photo -->
  <div data-container="0">
    <header class="masthead-img d-flex" style="background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(<%= image_path "skateboard-survey-light.jpg", alt: "skateboard background survey" %>);">
      <div class="container h-100 bg-overlay">
        <div class="col-12 text-center">
        <%= link_to root_path do %>
          <%= image_tag "logo-reecover-transparent-white.png", height: 120 %>
        <% end %>
        <br>
        <h1><strong>Votre carrière a de la valeur</strong></h1>
        <hr class="col-6">
        <h4>Vous souhaitez donner un nouvel élan à votre carrière ?
        </h4>

        <div class="o-section-home__select-gender m-select-gender">

            <!-- button gender male-->
            <div data-button class="a-button-gender">
                <div class="a-button-gender__content">
                  <div class="a-button-gender__text"> <%= image_tag "male-athlete.jpg", class: "img-gender pulse-button" %><br><strong>Sportif</strong></div>
                </div>
            </div>

          <!-- button gender female-->
          <div data-button class="a-button-gender">
              <div class="a-button-gender__content">
                  <div class="a-button-gender__text"> <%= image_tag "female-athlete.jpg", class: "img-gender-f pulse-button" %><br><strong>Sportive</strong></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </header>
  </div>


  <div class="container-quiz">
    <% @questions.each do |question| %>
<!--             if question == @questions.last
          redirect_to sss_path -->
    <div data-container="<%= @questions.index(question) + 1 %>">
      <div class="overlay"><h2 id="question-<%= question.id %>" class="text-center mb-5" data-question="<%= @questions.index(question) + 1 %>"> <%= question.question %> </h2></div>
        <div class="cards-quiz">
          <div class="row align-items-start text-center">
          <% question.answers.each do |answer| %>
            <div class="col-6 col-md-6 col-lg-4">
              <%= link_to answer_users_answers_path(answer), method: :post, remote: true do %>
                <div class="card-category-quiz" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_url(answer.photo)%>')">
                  <strong> <%= answer.answer %> </strong>
                </div>
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Show results -->
<header class="masthead-results">
  <div class="container h-100 bg-overlay">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
          <div id="question-<%= @questions.last.id + 1 %>" data-question="9" data-container="9">
            <div class="button-results" >
            <%= link_to "Voir les résultats", survey_attempt_path(Survey.last.id, Attempt.last.id), method: :patch, class: "btn btn-warning btn-lg"  %>
          </div>
        </div>
       </div>
    </div>
  </div>
</header>
</div>


